{% extends 'base.html' %}

{% block content %}
    <div>
        <h2>{{ dsc }}</h2>
    </div>

    <div id="toolbar">
            <div class="form-inline" role="form">
                <div class="form-group">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ManageDevicesModal">Manage Devices</button>
                    &nbsp;
                </div>
                <div class="btn-group" role="group">
                    <button class="btn btn-secondary"><i class="fas fa-play"></i></button>
                    <button class="btn btn-secondary"><i class="fas fa-stop"></i></button>
                    <button class="btn btn-secondary"><i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
    </div>



    <div class="modal fade" id="ManageDevicesModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="ManageDeviceModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ManageDeviceModalLabel">BIG-IPs in Device Trust</h5>
                </div>
                <div class="modal-body">
                    <div id="manage-device-table-toolbar">
                        <div class="btn-group">
                            <button class="btn btn-secondary" data-toggle="modal" data-target="#AddDeviceModal"><i class="fas fa-plus"></i></button>
                            <button class="btn btn-secondary"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>

                    <table id="manage-device-table"
                           data-toolbar="#manage-device-toolbar"
                           data-pagination="true"
                           data-click-to-select="true">

                        <thead>
                            <tr>
                                <th data-checkbox="true"></th>
                                <th data-field="pk" >ID</th>
                                <th data-field="fields.mgmt_ip" >IP Address</th>
                                <th data-field="sync_status" >Sync Status</th>
                                <th data-field="failover_state" >Failover State</th>

                            </tr>
                        </thead>
                    </table>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AddDeviceModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="AddDeviceModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddDeviceModalLabel">Add BIG_IPs</h5>
                </div>
                <div class="modal-body">
                    <table id="AddDeviceTable"
                           data-pagination="true"
                           data-click-to-select="true">
                        <thead>
                            <tr>
                                <th data-checkbox="true"></th>
                                <th data-field="pk" >ID</th>
                                <th data-field="fields.mgmt_ip" >IP Address</th>
                                <th data-field="sync_status" >Sync Status</th>
                                <th data-field="failover_state" >Failover State</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="AddDeviceButton" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>

    <table id="apps-table"
           data-search="true"
           data-show-columns="true"
           data-toolbar="#toolbar"
           data-pagination="true"
           data-click-to-select="true">
        <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th data-field="pk" data-sortable="true">ID</th>
                <th data-field="fields.name" data-sortable="true">Name</th>
                <th data-field="fields.src_ip" data-sortable="true">Source IP</th>
                <th data-field="fields.net_info" data-sortable="true">Net Info</th>
            </tr>
        </thead>
    </table>

    <script type="text/javascript">
        $(document).ready(function() {
            var $appsTable = $('#apps-table'),
                $manageDeviceTable = $('#manage_device_table'),
                $addDeviceTable = $('#AddDeviceTable'),
                $remove = $('#remove'),
                selections = [],
                applications = {{ apps|safe }},
                csrftoken = getCookie('csrftoken');

            console.log({{ dsc_bigips|safe }});

            $('#apps-table').bootstrapTable({
                height: getHeight(),
                data: getAppsTableData()
            });

            $('#manage-device-table').bootstrapTable({
                data: {{ dsc_bigips|safe }}
            });

            $('#AddDeviceTable').bootstrapTable({
                data: {{ free_bigips|safe }}
            });

            $('#AddDeviceButton').click(function(e) {
                var selectedDevices = $addDeviceTable.bootstrapTable('getSelections');
                var bigips = [];
                var promises = []
                for (var index in selectedDevices) {
                    bigips.push({"id": selectedDevices[index].pk});
                    promises.push(
                      $.ajax({
                            method: 'PATCH',
                            url: "/api/v1/bigip/" + selectedDevices[index].pk + "/",
                            dataType: 'json',
                            data: {"dsc": 2},
                            async: true,
                            headers: {
                                "X-CSRFToken": csrftoken
                            }
                      })
                    );

                }

                Promise.all(promises).then(function(results) {
                    console.log("refresh table");
                    $('#AddDeviceTable').bootstrapTable('refresh', {silent: true});
                    $('#manage-device-table').bootstrapTable('refresh', {silent: true});
                });
            });

        {% for bigip in dsc.bigip_set.all %}
             $.ajax({
                    method: 'GET',
                    url: "{% url 'get bigip sync status' bigip_id=bigip.id %}",
                    dataType: 'json',
                    async: true
             }).done(function(data) {
                 $('#sync_status_{{ bigip.id }}').css('background-color', data['status']);
                 console.log(data);
             });

            $.ajax({
                    method: 'GET',
                    url: "{% url 'get bigip failover state' bigip_id=bigip.id %}",
                    dataType: 'json',
                    async: true
             }).done(function(data) {
                 $('#failover_state_{{ bigip.id }}').text(data['state']);
                 console.log(data);
             });

        {% endfor %}
        });
        function getHeight() {
            return $(window).height() - $('.navbar').outerHeight(true) - 47;
        }

        function getAppsTableData() {
            applications = {{ apps|safe }};
            console.log(applications);
            for (app in applications) {

                if (applications[app].fields.protocol === 1) {
                    console.log(applications[app].fields);
                    applications[app].fields.net_info = applications[app].fields.vip;
                } else if (applications[app].fields.protocol === 2) {
                    console.log(applications[app].fields);
                    applications[app].fields.net_info = applications[app].fields.socket_port;
                }
            }
            return applications;
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    </script>

{% endblock %}